
.icon-location:before { content: '\e800'; } /* '' */
.icon-list:before { content: '\e801'; } /* '' */
.icon-list-alt:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-article-alt:before { content: '\e804'; } /* '' */
.icon-css:before { content: '\e805'; } /* '' */
.icon-wave:before { content: '\e806'; } /* '' */
.icon-ok-1:before { content: '\e807'; } /* '' */
.icon-university:before { content: '\e808'; } /* '' */
.icon-graduation:before { content: '\e809'; } /* '' */
.icon-star:before { content: '\e80a'; } /* '' */
.icon-emo-happy:before { content: '\e80b'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-language-1:before { content: '\f1ab'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
