body {
    overflow-x: hidden;
    font-family: 'Ysabeau SC', sans-serif;

}

// Custom Scrollbars
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #13293e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fdf0d5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fdf0d5;
}

main {
    background-color: #041C32;
    padding: 0 !important;
    margin: 0 !important;

    >.main-box {
        @media screen and (max-width:768px) {
            min-height: auto !important;
        }

        @media screen and (min-width:769px) {
            height: 100vh;
        }

        .background {
            position: fixed;
            top: 0;
            left: 0;
            filter: brightness(0.9);
            display: none;

            @media screen and (min-width:769px) {
                display: flex
            }

        }
    }

    .main-box {
        overflow-x: hidden;
        padding: 0 !important;
        margin: 0 !important;

        >section {
            @media screen and (max-width:768px) {
                height: auto !important;
                overflow-x: hidden;
                display: flex;
            }

            @media screen and (min-width:769px) {
                width: 80%;
                height: 75% !important;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            @media screen and (min-width:1400px) {
                height: 88% !important;
            }

            .left-side {


                @media screen and (max-width:768px) {
                    width: 100%;
                    height: 95vh;

                }

                @media screen and (min-width:769px) {
                    width: 45%;
                    height: 100%;
                    padding: 0 !important;
                    position: relative;
                    z-index: 200;
                }

                >nav {
                    border-radius: 7px;
                    z-index: 1;
                    top: 0;

                    @media screen and (max-width:768px) {
                        position: fixed !important;
                    }

                    ul {
                        padding: 0 !important;
                        overflow: hidden;
                        box-shadow: 5px 5px 10px 5px rgb(0, 0, 0);

                        @media screen and (min-width:769px) {
                            border-radius: 7px;
                        }

                        >li {
                            background-color: #041C32;
                            border: 1px solid #13293e;
                            overflow: hidden;
                            color: #fdf0d5;
                            transition: .4s;

                            &:hover {
                                background-color: #fdf0d5;
                            }

                            &:hover i {
                                color: #041C32;
                            }

                            &:hover a {
                                color: #041C32;
                            }

                            >a>i {
                                font-size: 16px !important;
                                color: #fdf0d5;
                                transition: .4s;


                            }

                            @media screen and (min-width:769px) {
                                height: 25% !important;
                                width: 100% !important;

                                &:first-of-type {
                                    border-radius: 7px 7px 0 0;
                                }

                                &:last-of-type {
                                    border-radius: 0 0 7px 7px;
                                }
                            }

                            >a {
                                font-size: 12px;
                                text-decoration: none;
                                text-transform: capitalize;
                                color: #fdf0d5;
                                transition: .4s;


                            }
                        }
                    }

                    @media screen and (max-width:768px) {
                        width: 100%;
                        height: 70px;
                    }

                    @media screen and (min-width:769px) {
                        width: 70px;
                        height: 75%;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                >article {
                    position: absolute;
                    background-color: #041C32;

                    @media screen and (max-width:768px) {
                        width: 100%;
                        height: calc(100% - 70px);
                        height: 85vh;
                        top: 70px;
                    }

                    @media screen and (min-width:769px) {
                        width: calc(100% - 70px);
                        height: 100%;
                        right: 20px;
                        top: -20px;
                        border-radius: 7px;
                    }

                    >section {
                        position: absolute;
                        background-color: #041C32;
                        overflow: hidden;

                        @media screen and (min-width:769px) {
                            left: 20px;
                            top: 20px !important;
                            box-shadow: 5px 5px 10px 5px rgb(0, 0, 0);
                            border-radius: 7px;
                        }

                        >.saba {
                            background-image: url(../img/1.jpg);
                            background-size: cover;
                            background-position: bottom;
                            animation: anime-bg 10s infinite;

                            @keyframes anime-bg {
                                0% {
                                    background-image: url(../img/2.jpg);

                                }

                                25% {
                                    background-image: url(../img/2.jpg);
                                }

                                55% {
                                    background-image: url(../img/1.jpg);

                                }

                                75% {
                                    background-image: url(../img/1.jpg);

                                }

                                100% {
                                    background-image: url(../img/2.jpg);

                                }
                            }

                            >.up {
                                height: 45%;

                            }

                            >.down {
                                height: 55%;
                                border-radius: 30% 30% 0 0;
                                background: #fdf0d5;

                                >.row {
                                    >figure {
                                        >img {
                                            width: 140px;
                                            height: 140px;
                                            border-radius: 50%;
                                            border: 2px solid #041C32;
                                            transform: translate(-50%, -35%);
                                        }

                                        &::before {
                                            content: '';
                                            width: 140px;
                                            height: 140px;
                                            background-color: #041C32;
                                            opacity: 80%;
                                            border-radius: 50%;
                                            transform: translate(40%, -27%);
                                        }
                                    }

                                    >div {
                                        margin-top: -20px;
                                        height: 75px;

                                        >h1 {
                                            text-transform: uppercase;
                                            font-size: 30px;
                                        }

                                        >h4 {
                                            text-transform: capitalize;
                                            font-size: 18px;
                                        }
                                    }

                                    ul {
                                        list-style-type: none;

                                        >li {
                                            &:hover i {
                                                scale: 2;
                                            }

                                            >a {
                                                text-decoration: none;

                                                >i {
                                                    color: #041C32;
                                                    font-size: 20px;
                                                    transition: .4s;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }

            .right-side {
                padding: 0 !important;
                background: #041C32;
                border-radius: 0 7px 7px 0;
                overflow: hidden;

                &::-webkit-scrollbar-thumb {
                    @media screen and (min-width:769px) {
                        background-color: #fdf0d5 !important;
                    }
                }

                * {
                    color: #fdf0d5;
                }

                .icon-hand {
                    font-weight: 900 !important;
                    font-size: 30px;
                    transform-origin: 100% 100%;
                }

                @media screen and (max-width:768px) {
                    width: 100%;
                    height: 88%;

                }

                @media screen and (min-width:769px) {
                    width: 55%;
                    height: 95%;
                    position: relative;
                    padding-bottom: 50px;
                    overflow-y: scroll;
                }

                >section {
                    @media screen and (min-width:769px) {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100% !important;
                        overflow-y: auto;
                        overflow-x: hidden;
                    }

                    .persent {
                        transform: translateX(85%);
                    }

                    &:first-of-type {
                        >.row {
                            &:nth-of-type(1) {
                                >h2 {
                                    border-bottom: 1px solid #13293e;
                                }

                                >h4,
                                p {
                                    font-size: 18px;
                                    font-weight: 100;
                                }

                                p {
                                    line-height: 30px;
                                }

                                >div {
                                    font-weight: 200;

                                    &:last-of-type {
                                        border-bottom: 1px solid #13293e;
                                    }
                                }
                            }

                            &:nth-of-type(2) {
                                >h2 {
                                    border-bottom: 1px solid #13293e;

                                }

                                >div:first-of-type {
                                    >.row {
                                        >h4 {
                                            font-size: 20px;

                                            >i {}

                                        }

                                        >.html {
                                            position: relative;

                                            .html-persent {
                                                position: absolute;
                                                left: 62%;
                                            }

                                            >h5 {
                                                font-size: 14px;
                                                font-weight: 300;
                                            }

                                            >div {
                                                width: 80%;
                                                height: 5px;
                                                background-color: wheat;
                                                position: relative;
                                                border-radius: 5px;
                                                overflow: hidden;

                                                &::after {
                                                    content: '';
                                                    width: 80%;
                                                    height: 100%;
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    background-color: #ff440b;
                                                }
                                            }
                                        }

                                        >.css {
                                            .css-persent {
                                                position: absolute;
                                                left: 47%;
                                            }

                                            >h5 {
                                                font-size: 14px;
                                                font-weight: 300;
                                            }

                                            >div {
                                                width: 80%;
                                                height: 5px;
                                                background-color: wheat;
                                                position: relative;
                                                border-radius: 5px;
                                                overflow: hidden;

                                                &::after {
                                                    content: '';
                                                    width: 75%;
                                                    height: 100%;
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    background-color: #ff440b;
                                                }
                                            }
                                        }

                                        >.sass {
                                            .sass-persent {
                                                position: absolute;
                                                left: 38%;
                                            }

                                            >h5 {
                                                font-size: 14px;
                                                font-weight: 300;
                                            }

                                            >div {
                                                width: 80%;
                                                height: 5px;
                                                background-color: wheat;
                                                position: relative;
                                                border-radius: 5px;
                                                overflow: hidden;

                                                &::after {
                                                    content: '';
                                                    width: 60%;
                                                    height: 100%;
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    background-color: #ff440b;
                                                }
                                            }
                                        }

                                        >.bootstrap {
                                            .bootstrap-persent {
                                                position: absolute;
                                                left: 32%;
                                            }

                                            >h5 {
                                                font-size: 14px;
                                                font-weight: 300;
                                            }

                                            >div {
                                                width: 80%;
                                                height: 5px;
                                                background-color: wheat;
                                                position: relative;
                                                border-radius: 5px;
                                                overflow: hidden;

                                                &::after {
                                                    content: '';
                                                    width: 50%;
                                                    height: 100%;
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    background-color: #ff440b;
                                                }
                                            }
                                        }

                                        >.tailwind {
                                            .tailwind-persent {
                                                position: absolute;
                                                left: 32%;
                                            }

                                            >h5 {
                                                font-size: 14px;
                                                font-weight: 300;
                                            }

                                            >div {
                                                width: 80%;
                                                height: 5px;
                                                background-color: wheat;
                                                position: relative;
                                                border-radius: 5px;
                                                overflow: hidden;

                                                &::after {
                                                    content: '';
                                                    width: 50%;
                                                    height: 100%;
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    background-color: #ff440b;
                                                }
                                            }
                                        }

                                        >.wordpress {
                                            .wordpress-persent {
                                                position: absolute;
                                                left: 55%;
                                            }

                                            >h5 {
                                                font-size: 14px;
                                                font-weight: 300;
                                            }

                                            >div {
                                                width: 80%;
                                                height: 5px;
                                                background-color: wheat;
                                                position: relative;
                                                border-radius: 5px;
                                                overflow: hidden;

                                                &::after {
                                                    content: '';
                                                    width: 90%;
                                                    height: 100%;
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    background-color: #ff440b;
                                                }
                                            }
                                        }

                                    }
                                }

                                .front {
                                    font-size: 16px;
                                }
                            }
                        }

                        .knowledge-border {
                            border-top: 1px solid #13293e;
                            border-bottom: 1px solid #13293e;
                        }

                        .knowledge {
                            height: auto;
                            font-size: 16px;
                            font-weight: 200;
                            width: 50%;

                            @media screen and (max-width:768px) {
                                font-size: 12px !important;

                                &:last-of-type {
                                    padding: 0px !important;

                                }
                            }

                            @media screen and (min-width:769px) {
                                &:first-of-type {
                                    border-right: 1px solid #13293e;
                                }

                                &:last-of-type {
                                    border-bottom: 1px solid #041C32;
                                }
                            }

                            .knowledge:first-child>div {
                                transition: .4s;

                                &:hover {
                                    font-weight: 600;
                                }
                            }

                            .education-date {
                                border: 1px solid #fdf0d5c8;
                                font-weight: 100;
                                border-radius: 7px;
                            }

                            .Parnian {
                                width: 80%;
                                height: 40px;
                                transition: .4s;
                                border-radius: 7px;

                                &:hover a {
                                    text-decoration: underline;
                                }

                                >a {
                                    color: #fdf0d5;
                                    text-decoration: none;
                                }
                            }

                            .languages {
                                @media screen and (min-width:769px) {
                                    border-top: 1px solid #13293e;

                                }

                                >div>div {
                                    width: 15px;
                                    height: 15px;
                                    border-radius: 50%;
                                    background-color: #ff440b;

                                    &:nth-of-type(4),
                                    &:last-of-type {
                                        background-color: #fdf0d5
                                    }
                                }
                            }
                        }

                        .work {

                            h2 {
                                font-size: 30px;
                                border-bottom: 1px solid #13293e;
                            }

                            a {
                                text-decoration: none;
                                font-size: 20px;
                                transition: .4s;
                            }

                            figure {
                                height: auto;

                                img {
                                    transition: .4s;
                                    box-shadow: 5px 5px 20px black;
                                }

                                >figcaption>a {
                                    font-size: 20px;


                                }

                                &:hover a {
                                    text-decoration: underline;
                                }

                                &:hover img {
                                    transform: scale(.9);
                                }
                            }

                            .github>a {
                                text-decoration: none;
                                transition: .4s;
                                font-size: 18px;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                        }

                        .contact {
                            border-top: 1px solid #13293e;
                            border-bottom: 1px solid #13293e;
                            font-size: 25px;
                        }

                        #contact {
                            .scale {
                                &:hover i {
                                    border: 1px solid #fdf0d5;
                                }
                            }

                            a {
                                text-decoration: none;

                                >i {
                                    font-size: 25px;
                                    transition: .4s;
                                    border-radius: 7px;
                                }
                            }

                            .end-part {
                                border-top: 1px solid #13293e;
                            }

                            .form-control {
                                background-color: transparent !important;
                                border-bottom: 1px solid #13293e;
                                border: none;
                                border-bottom: 1px solid #13293e;

                                &::placeholder {
                                    color: #fdf0d5;
                                }
                            }
                        }
                    }
                }

            }

        }
    }

    .send {
        background-color: #ff440b;
    }

}